.input-group {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 75%;
  margin: auto;
  margin-top: auto;
  margin-bottom: auto;
  position: relative;
  border-radius: 10px; /* Adjust the border-radius as needed */
}

.input-group input.form-control,
.input-group button.btn-secondary {
  border-radius: 100px; /* Apply the same border-radius to the input and button */
}

.input-group input.form-control:first-child {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.input-group button.btn-secondary {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.img-container {
  margin: 0%;
  padding: 0%;
  margin-bottom: -140px !important;
}

form#change-password-form {
  position: relative;
  top: -130px;
}

.card-box {
  border-radius: 25px;
}

.main#change-password {
  overflow: visible;
  margin-top: 7%;
}

.reset-password-body {
  background-color: #f5f5f5;
  color: black;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.reset-password-form {
  margin-top: 100px;
  background-color: #fff;
  width: 1000px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.reset-password-title {
  letter-spacing: 3px;
  font-weight: bold;
  margin: 0%;
  padding: 0%;
}

.reset-password-subtitle {
  font-weight: 600;
  margin: 0%;
  padding: 0%;
}

.reset-password-password {

  background-color: white !important;
  border-radius: 100px;
  border: 2px solid #999999 !important;
  border-right: none !important;
  padding: 2% !important;
}

#reset-password-toggle-1,
#reset-password-toggle-2 {
  display: flex;
  align-items: center;
  background-color: white !important;
  width: 90px !important;
  padding-right: 3% !important;
  color: #999999 !important;
  border: 2px solid #999999 !important;
  border-left: none !important;
  border-right: 2px solid #999999 !important;
}

.fa-check-circle{
padding-left: 25% !important;
color: #36CD76;
}
.new-password {
  position: absolute;
  z-index: 1000;
  background-color: white;
  left: 8%;
  padding-left: 1%;
  padding-right: 1%;
  font-size: 12px;
  font-weight: bold;
}

.forgot-password-icon {
  width: 40%;
  display: block;
  margin: 0 auto;
  position: relative;
  top: -150px !important;
  z-index: 1;
}

.password-requirements {
  display: none;
  justify-content: center;
  text-align: left;
  margin-top: 5px;
}

.password-requirements.show {
  display: flex;
}

.password-requirements-list {
  list-style-type: none;
  padding-left: 0;
  margin-top: 10px;
}

.requirement {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  font-size: 15px;
}

.requirement-circle {
  display: inline-block;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  margin-right: 10px;
  border: 2px solid #000;
  outline: 1px solid transparent;
  border-color: white;
  outline-color: gray;
}

.requirement.met .requirement-circle {
  background-color: green;
}

.requirement.unmet .requirement-circle {
  background-color: red;
}

.reset-pass {
  display: flex;
  justify-content: center;
  align-items: center;
}

.reset-pass-title {
  font-size: 12px;
  font-weight: bold;
  position: relative;
  left: -50px;
}


/* Styles for the incomplete state */
.incomplete-button {
  background-color: #cccccc !important;
  color: #666666 !important;
  cursor: not-allowed;
}

.ELITE-login-button,
#ELITE-login-button {
  background-color: #ff7900;
  color: #fff;
  border: none ;
}

.ELITE-login-button:hover,
#ELITE-login-button:hover {
  background-color: black ;
}

.JPIA-login-button,
#JPIA-login-button {
  background-color: #f0488f ;
  border: none;
}

.JPIA-login-button:hover,
#JPIA-login-button:hover {
  background-color: #b51557;
}

.SCO-login-button,
#SCO-login-button {
  background-color: #254a9b ;
  color: white;
  border: none;
}

.SCO-login-button:hover,
#SCO-login-button:hover {
  background-color: #0c3181 ;
  font-weight: bold;
}

.GIVE-login-button,
#GIVE-login-button {
  background-color: #0d3c55;
  border: none ;
}

.GIVE-login-button:hover,
#GIVE-login-button:hover {
  background-color: #092839;
}

.ACAP-login-button,
#ACAP-login-button {
  background-color: #592293 ;
  border: none ;
}

.ACAP-login-button:hover,
#ACAP-login-button:hover {
  background-color: #38145e ;
}

.AECES-login-button,
#AECES-login-button {
  background-color: #e42e1c ;
  border: none ;
}

.AECES-login-button:hover,
#AECES-login-button:hover {
  background-color: #a21c0f ;
}

.JEHRA-login-button,
#JEHRA-login-button {
  background-color: #800000 ;
  border: none ;
}

.JEHRA-login-button:hover,
#JEHRA-login-button:hover {
  background-color: #490000 ;
}

.JMAP-login-button,
#JMAP-login-button {
  background-color: #efb400;
  border: none ;
}

.JMAP-login-button:hover,
#JMAP-login-button:hover {
  background-color: #fd8607;
}

.PIIE-login-button,
#PIIE-login-button {
  background-color: #026644;
  border: none ;
}

.PIIE-login-button:hover,
#PIIE-login-button:hover {
  background-color: #003b25;
}

/* Media Queries */
@media (max-width: 1280px) {
  .main#change-password {
    overflow: visible;
    margin-top: 6%;
  }

  .form-group {
    padding-top: 4%;
    /* background-color: #272424; */
  }

  .forgot-password-icon {
    width: 40%;
    top: -110px !important;
  }

  .reset-password-title {
    font-size: 25px;
  }

  .reset-password-subtitle {
    font-size: 16px;
  }
}

@media (max-width: 1024px) {
  .main#change-password {
    overflow: visible;
    margin-top: 10%;
  }

  .form-group {
    padding-top: 5%;
    /* background-color: #800000; */
  }

  .forgot-password-icon {
    width: 42%;
    top: -110px !important;
  }

  .reset-password-title {
    font-size: 24px;
  }

  .reset-password-subtitle {
    font-size: 15px;
  }
}

@media (max-width: 912px) {
  .main#change-password {
    overflow: visible;
    margin-top: 10%;
  }

  .form-group {
    padding-top: 5%;
    /* background-color: #026644; */
  }

  .forgot-password-icon {
    width: 50%;
    top: -110px !important;
  }

  .reset-password-title {
    font-size: 23px;
  }

  .reset-password-subtitle {
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  .main#change-password {
    overflow: visible;
    margin-top: 15%;
  }

  .form-group {
    padding-top: 3%;
    /* background-color: #254a9b; */
  }

  .forgot-password-icon {
    width: 44%;
    top: -120px !important;
  }

  .reset-password-title {
    font-size: 22px;
  }

  .reset-password-subtitle {
    font-size: 13px;
  }
}

@media (max-width: 540px) {
  .main#change-password {
    overflow: visible;
    margin-top: 15%;
  }

  .form-group {
    padding-top: 10%;
    /* background-color: #592293; */
  }

  .forgot-password-icon {
    width: 80%;
    top: -110px !important;
  }

  .reset-password-title {
    font-size: 21px;
  }

  .reset-password-subtitle {
    font-size: 12px;
  }
}
