.sub-head h5 {
  font-weight: bold !important;
  font-size: 17px !important;
}
input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {
    display: none;
}
.sub-head2 h5 {
  font-weight: bold !important;
  font-size: 20px !important;
  padding-left: 15px;
  padding-top: 10px;
}

.filename {
  font-size: 10px !important;
  color: black;
  text-decoration: none !important;
  display: flex; 
  justify-content: space-between; 
  align-items: center;
}

.right-icons{
  display: flex; 
  gap: 20px; 
  align-items: center; 
  position: relative; 
  z-index: 1;
}


.download {
  font-size: 10px !important;
}

@media (max-width: 1024px) {
  #pdfViewer {
    width: 100%;
    height: 100%;
    zoom: 100% !important;
  }
}

@media (max-width: 425px) {
  #pdfViewer {
    width: 100%;
    height: 100%;
    zoom: 100% !important;
  }
}

@media (max-width: 375px) {
  #pdfViewer {
    width: 100%;
    height: 100%;
    zoom: 100% !important;
  }
}

@media (max-width: 320px) {
  #pdfViewer {
    width: 100%;
    height: 100%;
    zoom: 100% !important;
  }
}



.h-100 {
  height: 100%;
}

.responsive-height {
  height: 65vh;
}

@media (max-width: 1140px) {
  .responsive-height {
    height: 50vh;
  }
}

/* Medium screens (tablets, 768px and up) */
@media (max-width: 1024px) {
  .responsive-height {
    height: 50vh;
  }
}

/* Small screens (phones, 576px and up) */
@media (max-width: 768px) {
  .responsive-height {
    height: 40vh;
  }
}

/* Small screens (phones, 576px and up) */
@media (max-width: 425px) {
  .responsive-height {
    height: 40vh;
  }
}

/* Extra small screens (phones, less than 576px) */
@media (max-width: 375px) {
  .responsive-height {
    height: auto; /* Adjust based on content or set a specific height */
  }
}



.rounded-icon {
  border-radius: 50%;
  overflow: hidden;
  height: 40px;
  width: 40px;
  padding-top: 8px;
  color: white;
  margin-top: 40px;

}
.detail {
  font-size: 10px;
}

.email-border {
  border-bottom: 1px solid #3a3a3a;
  margin-top: 10px !important;
  width: 230px !important;
  display: block;
}

.text-center {
  text-align: center;
}


.align-items-center {
  align-items: center !important;
}

.w-100 {
  width: 100% !important;
}

.user-email-1 {
  font-size: smaller;
  overflow-wrap: anywhere;
  word-break: break-word;
}

.email-add {
  font-size: 15px;
  font-weight: bold;
  padding-top: 15px;
}

.modal-content {
  border-radius: 30px !important;
}

.reminder {
  background-color: white;
  border-radius: 10px;
  border: 2px solid #ccc;
}


.reminder-student {
  background-color: white;
  border-radius: 10px;
  border: 2px solid #ccc;
}
.success-color {
  color: #27ae60;
}

.subtitle {
  padding-left: 6%;
}

.spacing {
  letter-spacing: 2px;
}


.font-weight1 {
  display: flex;
  flex-direction: column;
}

.sub-head,
.detail {
  text-align: left;
}

.sub-head h5 {
  margin: 0;
}

.vertical-icons {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 40px;
  gap: 80px;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #f2f2f2;
}

a {
  color: blue;
  text-decoration: underline;
}

a .custom-link{
  text-decoration: none !important;
}

.asterisk {
  color: red;
}

.side-nav {
  font-size: 18px; 
  font-weight:600
}

.des {
  font-weight: 500 !important;
  display: inline !important;
}

.title {
  background-color: white;
  border-radius: 10px;
  border: 2px solid #ccc;
}

.reminder {
  background-color: white;
  border-radius: 10px;
  border: 2px solid #ccc;
}

@media (max-width: 768px) {
  main {
      padding-left: 5%;
      padding-right: 5%;
  }
}

.button-submit {
  border-radius: 5px;
  border: none;
  color: #fff;
  font-weight: bold;
  font-size: medium;
  padding-left: 35px;
  padding-right: 35px;
  padding-top: 3px;
  padding-bottom: 3px;
 }

 .button-submit[disabled] {
  background-color: #ccc !important; 
  color: #666 !important; 
}

.button-proceed {
  border-radius: 5px;
  border: none;
  color: #fff;
  background-color: #1A73E8;
  font-weight: bold;
  font-size: medium;
  padding: 3px 35px; /* Consolidated padding */
}

.button-proceed:hover,
.button-proceed:active {
  color: #fff;
  background-color: #1a73e87e; /* Hover and active state color */
}

.btn-gray {
  background-color: #ccc;
  color: #fff;
  font-size: medium;
  padding-left: 35px;
  padding-right: 35px;
  padding-top: 3px;
  padding-bottom: 3px;
}
  
.btn-gray:hover {
  background-color: #cccccc9d;
  color: #fff;
}

.custom-close-btn {
  background-color: lightgray;
  border-radius: 50%;
  opacity: 1; /* Make the background color fully opaque */
  width: 1.5em;
  height: 1.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}


.custom-close-btn::before {
  content: '\00d7'; /* Unicode for multiplication sign (×) */
  color: white;
  font-size: 3.2em;
  line-height: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.custom-link {
  text-decoration: none; /* Remove underline */
  color: inherit; /* Inherit the color from the parent element */
  font-family: inherit; /* Inherit font family */
  font-size: inherit; /* Inherit font size */
  /* You can add more custom styles as needed */
}

.custom-link:hover,
.custom-link:focus {
  color: inherit; /* Change color on hover/focus */
  text-decoration: underline; /* Add underline on hover/focus */
}

.error-border {
  border: 2px solid red !important;
}

.dark-gray a {
  text-decoration: none;
}

.dark-gray {
  color: #4d4d4d;
}

.main-red {
  color: #ea423c !important;
}

.main-blue {
  color: #5d83d1 !important;
}

.link-blue {
  color: #4169e1;
}

.dropdown-toggle::after {
  display: none !important;
}

.spacing {
  letter-spacing: 2px;
}

.loading-gif {
  height: 70% !important;
  width: 40% !important;
}

#realSubmitBtn:disabled {
  background-color: #cccccc;
  color: white;
}
.password-input-container {
  position: relative;
  display: inline-block; 
}

.password-input {
  background-color: #EDEDED;
  border-radius: 7px;
  border: none;
  padding: 8px;
  font-size: 14px;
  width: 350px; 
}

.password-input::placeholder {
  text-align: center;
}

.toggle-password {
  position: absolute;
  right: 25px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: #1A73E8;
}

.information-title {
  color: #1A73E8;
  font-size: 22px;
  font-weight: 700;
  letter-spacing: 2px;
}

.info-sub {
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 1px;
}

.modal-content {
  border-radius: 20px !important; /* Adjust the value as needed */
}

.adjust-modal .modal-dialog {
  max-width: 600px;
  margin: 0 auto; 
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  }
  
  .adjust-submit-modal .modal-dialog {
  max-width: 650px;
  margin: 0 auto; 
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  }
  
/* --- Footer --- */
.footer {
  width: 100%;
  background-color: #fff;
  padding: 15px;
  position: relative;
  bottom: 0;
  max-width: 100%;
  left: 0;
}

.footer-left {
  margin-left: 5%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-grow: 1;
}

.footer-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-grow: 1;
  margin-left: 20px; /* Add some spacing between sections */
}

.vertical-line {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 2.61px;
  height: 70%;
  background-color: #e7e7e7 !important;
}

.horizontal-line {
  width: 80%;
  height: 2px;
  background-color: #e7e7e7;
}

.soc-med-icons {
  height: 22px;
  transition: ease transform 0.2s;
}

.soc-med-icons:hover {
  transform: translateY(-5px);
  cursor: pointer;
}

@media (max-width: 767px) {
  .footer .row {
      flex-direction: column;
      align-items: center;
      text-align: center;
  }
  .footer-left,
  .footer-right {
      width: 100%;
      margin: 0;
      align-items: center; /* Center align items */
  }
  .footer-left {
      order: 1;
  }
  .footer-right {
      order: 2;
      margin-top: 20px; /* Adjust as needed */
      margin-left: 0;
  }
  .footer-left .row:last-child {
      order: 3;
      margin-top: auto; /* Push to the bottom */
      text-align: center; /* Center text content */
  }
  .footer .vertical-line {
      display: none;
  }
}

/* --- FEATHER ICONS SIZES --- */

.fs-12 {
  font-size: 0.5rem;
}

.w-35 {
  width: 35% !important;
}

.link:hover {
  color: #4169e1 !important;
}

.flex-end {
  display: flex;
  justify-content: flex-end;
}

/* --- FEATHER ICONS SIZES --- */

.im-cust-2 {
  margin-bottom: 0.188rem !important;
 
}

.im-cust {
  margin-bottom: 0.188rem !important;

}

.feather-2xs {
  width: 0.625em;
  height: 0.625em;
}

.feather-xs {
  width: 0.875em;
  height: 0.875em;
}

.feather-sm {
  width: 1em;
  height: 1em;
}

.feather-lg {
  width: 1.25em;
  height: 1.25em;
}

.feather-xl {
  width: 1.5em;
  height: 1.5em;
}

.feather-2xl {
  width: 2em;
  height: 2em;
}

/* --- End: Footer --- */
